.box1{
    height: 300px;
    width: 200px;
    border: 2px solid black;
    float: left;
    background: #000;
}


.box2{
    height: 400px;
    width: 220px;
    background-color: red;
    border: 2px solid black;
    /* float: right; */
    float: left;

}

.box3{
    /* clear: right; */
    clear: both;
}