.box{
    height: 300px;
    width: 350px;
    background: linear-gradient(rgba(255, 0, 0, 0.493),rgba(0, 128, 0, 0.384)), url("./background.jpg");
    background-position: center;
    padding-top: 150px;
}
h1{
    background: red;
    text-align: center;
    mix-blend-mode: screen;
}
