/* p:first-child {
    color: red;
} */
/* ul li:last-child {
    color: red;
} */
/* ul li:nth-child(2) {
    color: red;
} */
/* ul li:nth-child(2n) {
    color: red;
} */
/* ul li:nth-child(2n + 1) {
    color: red;
} */
/* ul li:nth-child(odd) {
    color: red;
} */
/* ul li:nth-child(even) {
    color: red;
} */
/* ul li:nth-last-child(2n) {
    color: red;
} */
/* p:nth-of-type(1) {
    color: red;
} */
/* li:nth-last-of-type(1) {
    color: red;
} */

/* li:only-child{
    color: red;
} */
/* b:only-of-type{
    color: red;
} */

/* p:first-of-type {
    color: red;
} */
/* p:last-of-type {
    color: red;
} */


/* i:empty{
    border: 2px solid red;
} */


/* p:not(.highlight){
    color: red;
} */


li:lang(de) {
    color: red;
}