/* p{
    font-size: 26px;
} */
 /* body{
     font-size: 26px;
 } */
  .container{
      font-size: 36px;
  }
p{
    /* font-size: 1em; */
    /* font-size: 36px; */
    /* font-size: 2rem; */
    /* font-size: 50%; */
    white-space: pre;
}