.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px;
}
.child{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: all 0.5s;
    /* transform-origin: right top; */
}
.child:hover{
    transform: perspective(800px) scale3d(2, 2, 0);
    /* transform: perspective(200px) rotateZ(-50deg); */
    /* transform: perspective(100px) translate3d(50px, 50px, 50px); */
}